<?xml version="1.0"?>
<config>
    <modules>
        <Brst_Experts>
            <version>1.0.0</version>
        </Brst_Experts>
    </modules>
     
    <global>
        <helpers>
            <brst_experts>
                <!-- This is where we define our helper directory -->
                <class>Brst_Experts_Helper</class>
            </brst_experts>
        </helpers>
                    
        <blocks>
            <brst_experts>
                <!-- Set a block definition and lookup directory -->
                <class>Brst_Experts_Block</class>
            </brst_experts>
        </blocks>
         
        <models>
            <brst_experts>
                <!-- This is where we define our model directory -->
                <class>Brst_Experts_Model</class>
                <!-- Define a resource to create a custom table -->
                <resourceModel>brst_experts_mysql4</resourceModel>
            </brst_experts>
             
            <!-- Here's our resource model we'll use to create a database table -->
            <brst_experts_mysql4>
                <class>Brst_Experts_Model_Mysql4</class>
                <entities>
                    <!-- Let's define our table, we'll call it with the baz name, but the real table is foo_bar_baz -->
                    <!-- After we define our entity, we can call it with our model by calling foo_bar/baz -->
                    <amount>
                        <table>brst_experts_amount</table>
                    </amount>
                </entities>
            </brst_experts_mysql4>
        </models>
         
        <!-- And finally we define our resource setup script -->
        <resources>
            <brst_experts_setup>
                <setup>
                    <module>Brst_Experts</module>
                </setup>
            </brst_experts_setup>
        </resources>
    </global>
     
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <!-- This is how we load our Adminhtml controllers -->
                    <modules>
                        <Brst_Experts before="Mage_Adminhtml">Brst_Experts_Adminhtml</Brst_Experts>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
     
    <adminhtml>
        <layout>
            <updates>
                <brst_experts>
                    <!--
                    We again keep a nice naming convention and make our module upgrade proof by placing it in a separate folder
                    - Since we are in the adminhtml node, this will look for the XML file in the app/design/adminhtml/default/default root folder
                    -->
                    <file>brst/experts.xml</file>
                </brst_experts>
            </updates>
        </layout>
    </adminhtml>
</config>