<?xml version="1.0"?>
<config>
    <sections>
        <brst_experts translate="label" module="brst_experts">
            <label>Pferde Configurations</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <tax_rate>
                    <label>Tax Rate</label>
                    <comment>
                        <![CDATA[ <b>Input in percentage, e.g 10 for 10%</b> ]]>
                    </comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <!--<small_business>-->
                            <!--<label>Small business owner</label>-->
                            <!--<frontend_type>text</frontend_type>-->
                            <!--<sort_order>100</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<show_in_website>1</show_in_website>-->
                            <!--<show_in_store>1</show_in_store>-->
                            <!--<validate>validate-digits</validate>-->
                        <!--</small_business>-->
                        <vat>
                            <label>VAT</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-digits</validate>
                        </vat>
                    </fields>
                </tax_rate>
                <earnings_ratio translate="label">
                    <label>Earnings Ratio</label>
                    <comment>
                        <![CDATA[ <b>Input in percentage, e.g 10 for 10%</b> ]]>
                    </comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <pferde translate="label">
                            <label>Paid to Pferde Ratio</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-digits</validate>
                        </pferde>
                        <affiliate_newcustomer translate="label">
                            <label><![CDATA[
                            Paid to Affiliate Ratio <br/>(New Customer)
                            ]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-digits</validate>
                        </affiliate_newcustomer>
                        <affiliate_special translate="label">
                            <label><![CDATA[
                            Paid to Affiliate Ratio <br/>(Special Product)
                            ]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-digits</validate>
                        </affiliate_special>
                        <affiliate_repeatcustomer translate="label">
                            <label><![CDATA[
                            Paid to Affiliate Ratio <br/>(Repeat Customer)
                            ]]></label>
                            <frontend_type>text</frontend_type>
                            <sort_order>400</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>validate-digits</validate>
                        </affiliate_repeatcustomer>
                    </fields>
                </earnings_ratio>
            </groups>
        </brst_experts>
    </sections>
</config>