/* Horizontal Carousel */
#horizontal_carousel {
  float: left;
  width: 610px;
  height: 240px;
  margin-bottom: 10px;
  position: relative;
}

#horizontal_carousel .container {
  float: left;
  width: 500px;
  height: 240px;
  position: relative;    
  overflow: hidden;
}

#horizontal_carousel ul {
  margin: 0;
  padding:0;
  width: 100000px;
  position: relative;
  top: 0;
  left: 0;
  height: 240px;
}                      

#horizontal_carousel ul li {
  width: 250px;
  height: 240px;
  text-align: center; 
  list-style:none;   
  float:left;
}

#horizontal_carousel .previous_button {
  float:left;  
  width: 32px;
  height: 175px;
  background: url(../../images/mediaappearance/horizontal/left.png);
  z-index: 100;
  cursor: pointer;
}

#horizontal_carousel .previous_button_over {
  background: url(../../images/mediaappearance/horizontal/left_over.png);
}

#horizontal_carousel .previous_button_disabled {
  background: url(../../images/mediaappearance/horizontal/left_disabled.png);
  cursor: default;
}

#horizontal_carousel .next_button {
  float:left;  
  width: 32px;
  height: 175px;
  background: url(../../images/mediaappearance/horizontal/right.png);
  z-index: 100;
  cursor: pointer;
}

#horizontal_carousel .next_button_over {
  background: url(../../images/mediaappearance/horizontal/right_over.png);
}

#horizontal_carousel .next_button_disabled {
  background: url(../../images/mediaappearance/horizontal/right_disabled.png);
  cursor: default;
}

/* vertical Carousel */

.ui_vertical_carousel {
}

#vertical_carousel {
  float:left;
  width: 180px;
  height: 300px;
  margin-bottom: 10px;
  margin-top:10px;
  position: relative;
}

#vertical_carousel .container {
  float:left;  
  width: 180px;
  height: 210px;
  overflow: hidden;
}

#vertical_carousel ul {
  margin: 0;
  padding:0;
  height: 100000px;
  position: relative;
  top: 0;
  left: 0;
}

#vertical_carousel ul li {
  width: 180px;
  height: 210px;
  text-align: center;      
  list-style:none;   
  float:left;
}                  

#vertical_carousel .previous_button {
  float:left;
  height: 32px;
  width: 175px;
  background: url(../../images/mediaappearance/vertical/left.png);
  cursor: pointer;    
  display:inline;
  /*margin: 0 0 10px 40px;*/
}

#vertical_carousel .previous_button_over {
  background: url(../../images/mediaappearance/vertical/left_over.png);
}

#vertical_carousel .previous_button_disabled {
  background: url(../../images/mediaappearance/vertical/left_disabled.png);
  cursor: default;
}

#vertical_carousel .next_button {
  float:left;
  height: 32px;
  width: 175px;
  background: url(../../images/mediaappearance/vertical/right.png);
  display:inline;
 /* margin-left: 40px;*/
  cursor: pointer;
}

#vertical_carousel .next_button_over {
  background: url(../../images/mediaappearance/vertical/right_over.png);
}

#vertical_carousel .next_button_disabled {
  background: url(../../images/mediaappearance/vertical/right_disabled.png);
  cursor: default;
}

#carousel-wrapper {
    width: 180px;
    height: auto;
    overflow: hidden !important;
}
#carousel-content {
    width: 2500px;
}
#carousel-content .slide {
    float: left;
    width: 180px;
    height: auto;
}


#video-block-wraper {
    width: 180px;
    height: auto;
    overflow: hidden !important;
}
#video-block-content {
    width: 2500px;
}
#video-block-content .slideblock {
    float: left;
    width: 180px;
    height: auto;
}
