<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category   Paymentnetwork
 * @package	Paymentnetwork_Sofortueberweisung
 * @copyright  Copyright (c) 2008 [m]zentrale GbR, 2010 Payment Network AG
 * @license	http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @version	$Id: system.xml 3847 2012-04-18 07:45:32Z dehn $
 */ 
-->

<config>
	<sections>
		<payment>
			<groups>
				<pnsofortueberweisung translate="label" module="paygate">
					<label>Sofortueberweisung</label>
					<frontend_type>text</frontend_type>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<createNew translate="label">
							<label></label>
							<frontend_type>linkpnso</frontend_type>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</createNew>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<order_status translate="label">
							<label>New order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</order_status>
						<sort_order translate="label">
							<label>Sort order</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</sort_order>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</title>
						<allowspecific translate="label">
							<label>Payment from applicable countries</label>
							<frontend_type>allowspecific</frontend_type>
							<sort_order>6</sort_order>
							<source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</allowspecific>
						<specificcountry translate="label">
							<label>Payment from Specific countries</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>7</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</specificcountry>
						<customer>
							<label>User Id</label>
							<frontend_type>text</frontend_type>
							<sort_order>32</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>validate-number</validate>
						</customer>
						<project>
							<label>Projekt Id</label>
							<frontend_type>text</frontend_type>
							<sort_order>64</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>validate-number</validate>
						</project>
						<project_pswd>
							<label>Project password</label>
							<frontend_type>text</frontend_type>
							<sort_order>128</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</project_pswd>							
						<notification_pswd>
							<label>Notification password</label>
							<frontend_type>text</frontend_type>
							<sort_order>256</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</notification_pswd>
						<createinvoice translate="label">	
							<label>Create Invoice</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>512</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</createinvoice>
						<model>
						</model>
					</fields>
				</pnsofortueberweisung>
				<sofort translate="label" module="paygate">
					<label>sofortueberweisung and other sofort-products</label>
					<help_url><![CDATA[https://www.payment-network.com/sue_de/integration/list/121]]></help_url>
					<frontend_type>text</frontend_type>
					<sort_order>0</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>  
					<frontend_model>pnsofortueberweisung/adminhtml_system_config_fieldset_global</frontend_model>
					<fields>
						<order_status translate="label">
							<label>New order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status</source_model>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</order_status>
						<allowspecific translate="label">
							<label>Payment from applicable countries</label>
							<frontend_type>allowspecific</frontend_type>
							<sort_order>6</sort_order>
							<source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</allowspecific>
						<specificcountry translate="label">
							<label>Payment from Specific countries</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>7</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</specificcountry>
						<configkey translate="label">
							<label>Configuration key</label>
							<frontend_type>text</frontend_type>
							<sort_order>128</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</configkey>
						<logo translate="label">
							<label>Banner or text</label>
							<frontend_type>select</frontend_type>
							<source_model>pnsofortueberweisung/system_config_source_logo</source_model>
							<sort_order>129</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</logo>	
						<pnsofort_active translate="label comment">
							<label>Sofortueberweisung</label>
							<frontend_type>checkbox</frontend_type>
							<comment>Direct payment method of Payment Network AG.</comment>
							<more_url><![CDATA[https://www.payment-network.com/sue_de/online-anbieterbereich/start]]></more_url>
							<sort_order>1024</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</pnsofort_active>
						<pnsofort_sort_order translate="label">
							<label>Sort order</label>
							<frontend_type>text</frontend_type>
							<sort_order>1025</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>validate-number</validate>
						</pnsofort_sort_order>
						<pnsofort_customerprotection translate="label">
							<label>customer protection</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1026</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</pnsofort_customerprotection>
						<sofortrechnung_active translate="label comment">
							<label>Rechnung by sofort</label>
							<frontend_type>checkbox</frontend_type>
							<more_url><![CDATA[http://rechnung.sofort.com]]></more_url>
							<comment>Invoice with payment guarantee.</comment>
							<sort_order>2048</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</sofortrechnung_active>
						<sofortrechnung_sort_order translate="label">
							<label>Sort order</label>
							<frontend_type>text</frontend_type>
							<sort_order>2049</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>validate-number</validate>
						</sofortrechnung_sort_order>
						<sofortlastschrift_active translate="label comment">
							<label>sofortlastschrift</label>
							<comment>Secure direct debit system.</comment>
							<more_url><![CDATA[https://www.payment-network.com/sl_de/online-anbieterbereich/start]]></more_url>
							<frontend_type>checkbox</frontend_type>
							<sort_order>2050</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
						</sofortlastschrift_active>
						<sofortlastschrift_sort_order translate="label">
							<label>Sort order</label>
							<frontend_type>text</frontend_type>
							<sort_order>2051</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>validate-number</validate>
						</sofortlastschrift_sort_order>
						<sofortvorkasse_active translate="label comment">
							<label>Vorkasse by sofort</label>
							<comment>Automated money order system.</comment>
							<more_url><![CDATA[https://images.sofort.com/de/sv/landing.php]]></more_url>
							<frontend_type>checkbox</frontend_type>
							<sort_order>2060</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
						</sofortvorkasse_active>	
						<sofortvorkasse_sort_order translate="label">
							<label>Sort order</label>
							<frontend_type>text</frontend_type>
							<sort_order>2061</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>validate-number</validate>
						</sofortvorkasse_sort_order>
						<lastschriftsofort_active translate="label comment">
							<label>Lastschrift by sofort</label>
							<comment>Lastschriftverfahren</comment>
							<more_url><![CDATA[https://www.payment-network.com/sl_de/online-anbieterbereich/start]]></more_url>
							<frontend_type>checkbox</frontend_type>
							<sort_order>2070</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
						</lastschriftsofort_active>
						<lastschriftsofort_sort_order translate="label">
							<label>Sort order</label>
							<frontend_type>text</frontend_type>
							<sort_order>2071</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>validate-number</validate>
						</lastschriftsofort_sort_order>
					</fields>
				</sofort>
			</groups>
		</payment>
	</sections>
</config>