<?xml version="1.0"?>
<config>
    <modules>
        <Brst_Embeded>
            <version>0.1.0</version>
        </Brst_Embeded>
    </modules>
    <frontend>
        <routers>
            <embeded>
                <use>standard</use>
                <args>
                    <module>Brst_Embeded</module>
                    <frontName>embeded</frontName>
                </args>
            </embeded>
        </routers>
        <layout>
            <updates>
                <embeded>
                    <file>embeded.xml</file>
                </embeded>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <embeded>
                <class>Brst_Embeded_Model</class>
                <resourceModel>embeded_mysql4</resourceModel>
            </embeded>
            <embeded_mysql4>
                <class>Brst_Embeded_Model_Mysql4</class>
                <entities>
                    <embeded>
                        <table>embeded</table>
                    </embeded>
                </entities>
            </embeded_mysql4>
        </models>
        <resources>
            <embeded_setup>
                <setup>
                    <module>Brst_Embeded</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </embeded_setup>
            <embeded_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </embeded_write>
            <embeded_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </embeded_read>
        </resources>
        <blocks>
            <embeded>
                <class>Brst_Embeded_Block</class>
            </embeded>
        </blocks>
        <helpers>
            <embeded>
                <class>Brst_Embeded_Helper</class>
            </embeded>
        </helpers>
      
      
   
           <!-- <rewrite>
            <embeded_index_index>
                <from><![CDATA[#^/embeded/#]]></from>
                <to><![CDATA[/embeded/index/index/code/$1/]]></to>
            </embeded_index_index>
        </rewrite>-->
         <rewrite>
    	<latest_url>
	              <from><![CDATA[/embeded\/(.*)/]]></from>
	              <to><![CDATA[/embeded/index/index/code/$1/]]></to>
                      <complete>1</complete>
            </latest_url>
    	</rewrite>
        <!--
        <rewrite>
          <fancy_url>
                  <from><![CDATA[/embeded\/(.*)/]]></from>
                  <to><![CDATA[/embeded/index/index/code/$1/]]></to>
                  
                      <complete>1</complete>
            </fancy_url>
        </rewrite>-->
    </global>
</config>